### 직업별 월급 평균 및 남여 종사자 수 표 만들기 - pivot 활용

In [16]:
import pandas as pd
import seaborn as sns
import numpy as np

In [17]:
welfare_raw = pd.read_spss('Koweps_hpwc14_2019_beta2.sav')
welfare = welfare_raw.copy()

In [18]:
welfare = welfare.rename(
    columns={'h14_g3' : 'sex', 
             'h14_g4' : 'birth',
             'h14_g10': 'marriage_type',
             'h14_g11':'religion',
             'p1402_8aq1':'income',
             'h14_eco9':'code_job',
             'h14_reg7':'code_region'}
)

In [19]:
list_job = pd.read_excel('Koweps_Codebook_2019.xlsx',sheet_name='직종코드')

In [20]:
welfare =welfare.merge(list_job,how='left',on='code_job')

In [21]:
welfare['sex'] = np.where(welfare['sex']==1,'male','female')

In [22]:
job_sex_income = welfare.dropna(subset = ['job','income'])\
            .groupby(['job', 'sex'],as_index=False)\
            .agg(mean_income = ('income','mean'))
job_sex_income.head()

                job     sex  mean_income
0       가사 및 육아 도우미  female    92.970149
1       가사 및 육아 도우미    male    58.000000
2               간호사  female   264.985714
3               간호사    male   270.666667
4  감정∙기술영업및중개관련종사자   female   496.000000

In [23]:
pv_job_sex_income = job_sex_income.pivot(index = 'job', columns = 'sex', values = 'mean_income')
pv_job_sex_income.head()

sex                   female        male
job
가사 및 육아 도우미        92.970149   58.000000
간호사               264.985714  270.666667
감정∙기술영업및중개관련종사자   496.000000  361.000000
건물 관리원 및 검표원      197.500000  167.628205
건설 및 광업 단순 종사자    205.600000  270.028571