### Data Frame
- Pandas는 라벨이 붙어있는 2차원 배열(DataFrame)이나 1차원 배열(Series)을 다루는 도구
- 2차원 배열(Data Frame)의 행에 붙어 있는 라벨을 index(인덱스)라 부름
- 2차원 배열(Data Frame)의 열에 붙어 있는 라벨을 colums(컬럼) 또는 변수라 부름
- 1차원 배열에는 행에만 라벨이 붙어 있고, 이를 index(인덱스)라고 부름

# Lab 1: 시험 성적 데이터로 데이터 프레임 만들기
- import pandas:Pandas를 사용하기 위해서는 pandas 패키지를 로드해야 함
- 인덱스가 [0, 1, 2, 3]이고 칼럼이 ['name', 'english', 'math']인 데이터 프레임을 생성해 봄
- 생성한 데이터 프레임의 이름은 df를 사용
- 데이터 프레임 생성시 [enter]로 줄바꿈 가능
- 별도로 인덱스를 지정하지 않으면 인덱스는 숫자 0부터 부여됨

In [20]:
# Pandas를 사용하기 위해서는 pandas 패키지를 로드
import pandas as pd

In [21]:
# Data Frame을 새로 생성 (name, english, math의 3개 컬럼(번수)으로 구성)
df1 = pd.DataFrame({'name':['김기훈', '이유진', '박동현', '김민지'],
                   'english': [90, 80, 60, 70],
                   'math': [50, 60, 100, 20]})

# 생성한 Data Frame df1으로 출력
df1

  name  english  math
0  김기훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

> 데이터 프레임으로 분석하기

In [3]:
# Data Frame df1의 값 확인
df1.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
# Data Frame df1의 칼럼(변수) 값 확인
df1.columns

Index(['name', 'english', 'math'], dtype='object')

In [5]:
# Data Frame df1의 값을 확인 (nempy의 array)로 출력
df1.values

array([['김기훈', 90, 50],
       ['이유진', 80, 60],
       ['박동현', 60, 100],
       ['김민지', 70, 20]], dtype=object)

In [23]:
# 컬럼 math 추출 (시리즈)
s1 = df1['math']
s1

0     50
1     60
2    100
3     20
Name: math, dtype: int64

In [8]:
# df1에서 컬럼 math의 합 계산
sum(df1['math'])

230

In [10]:
# df1에서 컬럼 english의 평균 값 계산
sum(df1['english'])/4

300

In [11]:
# df1에서 컬럼 math의 합 계산
df1['math'].sum()

230

In [12]:
# df1에서 컬럼 math의 평균 값 계산
df1['math'].sum()/4

57.5

In [13]:
# df1에서 컬럼 math의 평균 값 계산
df1['math'].sum()/df1['math'].count()

57.5

In [14]:
# df1에서 컬럼 math의 평균 값 계산
df1['math'].mean()

57.5

In [15]:
# 컬럼 math 추출 (Data Frame)
s1 = df1[['math']]
s1

   math
0    50
1    60
2   100
3    20

In [16]:
# df1에서 칼럼 english, math 추출 (Data Frame)
df1[['english', 'math']]

   english  math
0       90    50
1       80    60
2       60   100
3       70    20

In [17]:
df1[['english', 'math']] > 70

   english   math
0     True  False
1     True  False
2    False   True
3    False  False

In [18]:
# Daata Frame pd_em에서 칼럼(english, math)별 합 계산
# Python에서는 True는 1, False는 0
pd_em = df1[['english', 'math']] > 70
pd_em.sum()

english    2
math       1
dtype: int64