# Lab2 : 데이터 프레임 만들기
- 이름은 index로 만들기

In [1]:
# Pandas를 사용하기 위해서는 pandas 패키지를 로드
import pandas as pd

In [9]:
# Data Frame 생성(컬럼 이름과 인덱스 이름을 명시적으로 지정)
df2 = pd.DataFrame([[90, 50], [80, 60], [60, 100], [70, 20]],
                  columns = ['english', 'math'],
                  index = ['김기훈', '이유진',' 빅동현', '김민지'])
df2

      english  math
김기훈        90    50
이유진        80    60
 빅동현       60   100
김민지        70    20

In [10]:
# df2의 index 값 출력
df2.index

Index(['김기훈', '이유진', ' 빅동현', '김민지'], dtype='object')

In [11]:
# df2의 컬럼 값 출력
df2.columns

Index(['english', 'math'], dtype='object')

In [13]:
# df2의 데이터 값 출력(array)
df2.values

array([[ 90,  50],
       [ 80,  60],
       [ 60, 100],
       [ 70,  20]], dtype=int64)

In [14]:
# df2의 컬럼 math의 평균 구하기
df2['math'].mean()

57.5

In [15]:
#df2의 컬럼별 값이 50이상 여부 확인 (True, False)
df2 > 50

      english   math
김기훈      True  False
이유진      True   True
 빅동현     True   True
김민지      True  False

In [17]:
# True : 1, False : 0
(df2 > 50).sum()

english    4
math       2
dtype: int64