## 실습1 :  df1

In [2]:
import pandas as pd
df1 = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                   '가격' : [1800, 1500, 3000],
                   '판매량' : [24, 38, 13]})
df1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [3]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
df1.columns

Index(['제품', '가격', '판매량'], dtype='object')

In [5]:
df1.values

array([['사과', 1800, 24],
       ['딸기', 1500, 38],
       ['수박', 3000, 13]], dtype=object)

In [7]:
df1['가격'].mean()

2100.0

In [8]:
df1['판매량'].mean()

25.0

## 실습2 : df2

In [11]:
import pandas as pd
df2 = pd.DataFrame([[1800, 24], [1500, 35], [3000, 13]],
                  columns = ['가격', '판매량'],
                  index = ['사과', '딸기', '수박'])
df2

      가격  판매량
사과  1800   24
딸기  1500   35
수박  3000   13

In [12]:
df2.index

Index(['사과', '딸기', '수박'], dtype='object')

In [13]:
df2.columns

Index(['가격', '판매량'], dtype='object')

In [14]:
df2.values

array([[1800,   24],
       [1500,   35],
       [3000,   13]], dtype=int64)

In [15]:
df2['가격'].mean()

2100.0

In [16]:
df2['판매량'].mean()

24.0